<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【商户检测】列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>检测地址：</label>
                            <input type="text" name="detectAddress"/>
                        </li>
                        <li>
                            <label>检测部门：</label>
                            <input type="text" name="detectDepartment"/>
                        </li>
                        <li>
                            <label>检测结果：</label>
                            <input type="text" name="detectResult"/>
                        </li>
                        <li class="select-time">
                            <label>检测时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginDetectData]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endDetectData]"/>
                        </li>
                        <li>
                            <label>检测机构：</label>
                            <input type="text" name="detectAgency"/>
                        </li>
                        <li>
                            <label>检验天数：</label>
                            <input type="text" name="examineDays"/>
                        </li>
<!--                        <li>-->
<!--                            <label>是否有效：</label>-->
<!--                            <input type="text" name="isEffective"/>-->
<!--                        </li>-->
                        <li>
                            <label>是否过期：</label>
                            <select name="reserved1">
                                <option value="">所有</option>
                                <option value="expired">过期</option>
                                <option value="Nexpired">未过期</option>
                            </select>
                        </li>
                        <li>
                            <label>乡镇：</label>
                            <select name="reserved2">
                                <option value="">所有</option>
                                <option value="alhkx">阿拉哈克乡</option>
                                <option value="awtz">阿苇滩镇</option>
                                <option value="blbgx">巴里巴盖乡</option>
                                <option value="btz">北屯镇</option>
                                <option value="emc">二牧场</option>
                                <option value="hdgt">汗德尕特</option>
                                <option value="hdz">红墩镇</option>
                                <option value="lst">拉斯特</option>
                                <option value="qekq">切尔克齐</option>
                            </select>
                        </li>
<!--                        <li>-->
<!--                            <label>预留3：</label>-->
<!--                            <input type="text" name="reserved3"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>预留4：</label>-->
<!--                            <input type="text" name="reserved4"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>预留5：</label>-->
<!--                            <input type="text" name="reserved5"/>-->
<!--                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:detect:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:detect:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:detect:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:detect:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:detect:import">
                <i class="fa fa-upload"></i> 导入
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>






</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/js/jquery.qrcode.min.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:detect:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:detect:remove')}]];
    var prefix = ctx + "system/detect";

    $(function () {
        var options = {
            rowStyle: rowStyle,
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importExport",
            importTemplateUrl: prefix + "/importTemplate",
            modalName: "【检测商户】",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'detectAddress',
                    title: '检测地址'
                },
                {
                    field: 'detectDepartment',
                    title: '检测部位'
                },
                {
                    field: 'detectResult',
                    title: '检测结果'
                },
                {
                    field: 'detectData',
                    title: '检测时间'
                },
                {
                    field: 'detectAgency',
                    title: '检测机构'
                },
                {
                    field: 'examineDays',
                    title: '检验天数'
                },
                // {
                //     field: 'isEffective',
                //     title: '是否有效 effective:有效/invalid:无效'
                // },
                {
                    field: 'reserved1',
                    title: '是否过期'
                },
                // {
                //     field: 'reserved2',
                //     title: '预留2'
                // },
                // {
                //     field: 'reserved3',
                //     title: '预留3'
                // },
                // {
                //     field: 'reserved4',
                //     title: '预留4'
                // },
                // {
                //     field: 'reserved5',
                //     title: '预留5'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];


                        var sb='   <div class="modal inmodal fade" id="'+ row.id +'" tabindex="-1" role="dialog" aria-hidden="true">';
                        sb+='        <div class="modal-dialog modal-sm">';
                        sb+='            <div class="modal-content">';
                        sb+='                <div class="modal-header">';
                        sb+='                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>';
                        sb+='                    </button>';
                        sb+='                    <h4 class="modal-title" style="color:#000; font-size: 18px;"> 环境检测结果公示</h4>';
                        sb+='                </div>';
                        sb+='                <div class="modal-body">';
                        sb+='                </div>';
                        sb+='            </div>';
                        sb+='        </div>';
                        sb+='    </div>';


                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-primary btn-xs ' + removeFlag + '" href="javascript:void(0)"  onclick="selectCheckUser(\'' + row.id + '\')"><i class="fa"></i>生成二维码</a>');
                        actions.push(sb);

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function rowStyle(row,index) {
        var style = {};
        console.log(row)
        if(row.reserved1 == '过期'){
            style={css:{'color':'#ed5565'}};
        }
        if(row.reserved1 == '未过期'){
            style={css:{'color':'#1ab394'}};
        }
        return style;
    }

    function selectCheckUser(id){
        var elDom = '#'+ id;
        $(elDom).modal('show');
        setTimeout(function(){
            $(elDom).find('.modal-body').html("");
            $(elDom).find('.modal-body').qrcode({
                render: "canvas", //也可以替换为table
                width: 200,
                height: 200,
                text: 'http://106.124.136.211:18088/system/detect/edit1?id='+id
            });
        },0)
        // $.modal.open("选择用户", prefix + "/check");
    }

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#formId').serialize());
        }
    }

</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <!--            <div class="mt10 pt5">-->
            <!--                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据-->
            <!--                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>-->
            <!--            </div>-->
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>